//*===== categori css start ====*//
.categories {
    padding: 40px 0;
    .section-header {
        &::before {
            content: none;
        }
    }
    .section-wrapper {
        position: relative;
        .categori-slider {
            .swiper-wrapper {
                .swiper-slide {
                    .categori-item {
                        text-align: center;
                        .item-icon {
                            i {
                                font-size: 35px;
                                color: $primary-color; 
                            }
                        }
                        .item-text {
                            h5 {
                                margin: 0;
                                font-weight: 500;
                                text-transform: uppercase;
                                padding-top: 12px;
                            }
                        }
                    }
                }
            }
            .swiper-button-next, .swiper-button-prev {
                display: none;
                @include breakpoint (md) {
                    position: absolute;
                    top: 40px;
                    height: 25px;
                    width: 25px;
                    line-height: 25px;
                    display: block;
                    text-align: center;
                    background: $theme-color;      
                }
                &::after, &::before {
                    font-size: 12px;
                }
            }
            .swiper-button-prev {
                right: 40px;
                left: auto;
            }
        }
    }
    &.style-one {
        .section-wrapper {
            .categori-slider {
                .swiper-wrapper {
                    .swiper-slide {
                        .categori-item {
                            .item-thumb {
                                img {
                                    height: 100px;
                                    width: 100px;
                                    border-radius: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }  
    }
}
//*===== categori css ends  ====*//

// *==== blog categori css start ====*//
.blog-categori {
    padding-bottom: 60px;
    .section-wrapper {
        .categori-tab {
            ul.nav {
                padding-bottom: 20px;
                li.nav-item {
                    a.nav-link {
                        border: none;
                        border-top-left-radius: none;
                        border-top-right-radius: none;
                        &.active {
                            color: $theme-color;
                        }
                    }
                }
                &.nav-tabs {
                    border: none !important;
                    border-top-left-radius: 0rem;
                    border-top-right-radius: 0rem;
                    .nav-link {
                        border: 0;
                        &.active {
                            border: none!important;
                            border-bottom: 2px solid $theme-color!important;
                        }
                    }
                }
            }
            .tab-content {
                .tab-pane {
                    .latest-blog {
                        .blog-list {
                            .list-item {
                                @extend %flex;
                                align-items: flex-start;
                                .item-thumb {
                                    img {
                                        height: 80px;
                                        width: 80px;
                                        object-fit: cover;
                                    }
                                }
                                .item-text {
                                    padding-left: 10px;
                                    width: calc(100% - 80px);
                                    h6 {
                                        margin: 0;
                                        font-weight: 500;
                                        font-size: 16px;
                                        text-transform: uppercase;
                                    }
                                    .blog-timeline {
                                        @extend %flex;
                                        padding-top: 5px;
                                        align-items: center;
                                        .bloger-thumb {
                                            padding-right: 8px;
                                            img {
                                                height: 30px;
                                                width: 30px;
                                                border-radius: 100%;
                                            }
                                        }
                                        .time-line {
                                            span {
                                               text-transform: uppercase; 
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// common blog
.blog-item {
    &:hover {
        .item-thumb {
            img {
                transform: scale(1.1);
                filter: grayscale(50%);
            }
        }
    }
    .item-thumb {
        overflow: hidden;
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }
        .video-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            i {
                height: 40px;
                width: 40px;
                text-align: center;
                line-height: 40px;
                border-radius: 100%;
                color: $theme-color;
                background: $white-color;
            }
        }
    }
    .blog-text {
        .blog-cat {
            padding: 12px 0 10px;
            span {
                font-size: 12px;
                padding: 3px 10px;
                color: $theme-color;
                display: inline-block;
                background: #adb5bd;
                letter-spacing: 1.5px;
                text-transform: uppercase;
            }
        }
        h5 {
            margin: 0;
        }
        p {
            margin: 0;
        }
    }
    .blog-timeline {
        padding: 10px 0;
        @extend %flex;
        align-items: center;
        .bloger-thumb {
            padding-right: 8px;
            img {
                height: 60px;
                width: 60px;
                border-radius: 100%;
            }
        }
        .time-line {
            span {
               text-transform: uppercase; 
            }
        }
    }
    .blog-more {
        a {
            font-size: 12px;
            color: #000;
            font-weight: 500;
            text-decoration: underline;
            text-transform: uppercase;
            @include breakpoint (sm) {
                font-size: 14px;
            }
        }
    }

    //?slider plceholder img
    &.style-one {
        .blog-timeline {
            .bloger-thumb {
                img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

// *==== blog categori css ends  ====*//

// *==== blog area css start ==== *//
.blog-area {
    padding-bottom: 30px;
    .section-wrapper {
        .blog-wrapper {
            padding-bottom: 60px;
            .blog-item {
                &.style-one {
                    .blog-text {
                        .blog-cat {
                            padding-top: 0;
                        }
                    }
                    .blog-timeline {
                        padding: 10px 0;
                    }
                }
            }
        }
        .sidebar-widget {
            .widget-rec-post, .widegt-popular-post {
                h4 {
                    margin: 0;
                    text-align: center;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                    position: relative;
                    &::after {
                        @extend %absolute;
                        bottom: -10px;
                        left: 50%;
                        height: 3px;
                        width: 100px;
                        background: #adb5bd;
                        transform: translateX(-50%);
                    }
                }
                .recent-post {
                    padding: 0;
                    margin: 0;
                    li {
                        @extend %flex;
                        align-items: center;
                        justify-content: space-around;
                        padding: 15px 0;
                        list-style: none;
                        border-bottom: 1px solid $border-color;
                        &:last-child {
                            border-bottom: none;
                        }
                        &:hover {
                            .rec-thumb {
                                a {
                                    img {
                                        transform: scale(1.1);
                                    }
                                }
                            }
                            .rec-content {
                                h6 {
                                    a {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                        .rec-content {
                            width: calc(100% - 90px);
                            padding-left: 10px;
                            @include breakpoint(lg) {
                                width: 70%;
                            }
                            span {
                                text-transform: uppercase
                            }
                            h6 {
                                a {
                                    @include transition($transition);
                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                        .rec-thumb {
                            width: 90px;
                            text-align: right;
                            @include breakpoint(lg) {
                                width: 30%;
                            }
                            a {
                                display: block;
                                overflow: hidden;
                                img {
                                    display: block;
                                    width: 100%;
                                    @include transition($transition);
                                }
                            }
                        }
                    }
                    &.style-one {
                        li {
                            .rec-content {
                                width: 100%;
                                span {
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }
        .blog-description {
            position: relative;
            .blog-social {
                @include breakpoint (sm) {
                    position: absolute;
                    top: 0;
                    left: -8%;  
                }
                @include breakpoint (lg) {
                    left: -15%;
                }
                ul.social-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    @include breakpoint (max-sm) {
                        display: flex;
                        padding-bottom: 25px;
                    }
                    li {
                        margin: 0 5px;
                        @include breakpoint (sm) {
                            margin: 15px 0;
                        }
                        a {
                            i {
                                font-size: 25px;
                                color: #000;
                                @include breakpoint (sm) {
                                    font-size: 30px;
                                }
                                @include breakpoint (md) {
                                    font-size: 45px;
                                }
                            }
                        }
                    }
                }
            }
            .des-text {
                h4 {
                    margin: 0;
                    padding-bottom: 25px;
                }
                p {
                    margin: 0;
                    padding-bottom: 50px;
                }
            }
            .des-tips {
                ul.tips-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    .tips-title {
                        h3 {
                            margin: 0;
                        }
                    }
                    li {
                        width: 100%;
                        @extend %flex;
                        .tips-crount {
                            width: 15%;
                            span {
                                font-size: 35px;
                                color: $theme-color;
                                @include breakpoint (md) {
                                    font-size: 45px;
                                }
                            }
                        }
                        .tips-text {
                            width: calc(100% - 15%);
                        }
                    }
                }
            }
            .des-thumb {
                padding: 50px 0;
                img {
                    width: 100%;
                }
            }
        }
    }
}
// *==== blog area css ends  ==== *//

//?====== about blog page css start =====?//

//*=== about area css start ===*//
.about-area {
    padding: 60px 0;
    @include breakpoint (lg) {
        padding: 80px 0;
    }
    .section-wrapper {
        overflow: visible;
        .about-content {
            h2 {
                margin: 0;
                padding-bottom: 15px;
            }
            p {
                margin: 0;
            }
        }
        .about-thumb {
            position: relative;
            img {
                width: 100%;
            }
            .follow-ours {
                position: absolute;
                top: 10px;
                left: 105%;
                height: 100%;
                @include breakpoint (md) {
                    top: 50px;
                }
                @include breakpoint (lg) {
                    left: 102%;
                }
                @include breakpoint (xl) {
                    left: 106%;
                }
                ul.social-link {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }
                .follow-text {
                    position: absolute;
                    top: 65%;
                    left: -42px;
                    width: 95px;
                    transform: rotate(90deg);
                    @include breakpoint (sm) {
                        top: 50%;
                        left: -40px;
                    }
                    p {
                        margin: 0;
                        display: inline-block;
                        position: relative;
                        &::after {
                            @extend %absolute;
                            top: 50%;
                            left: 110%;
                            height: 2px;
                            width: 70px;
                            transform: translateY(-50%);
                            background: #adb5bd;
                            @include breakpoint (sm) {
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//*=== about area css ends  ===*//

//*=== about contact css start ===*//
.about-contact {
    padding: 60px 0;
    background: #f8f9fa;
    @include breakpoint (sm) {
        padding: 80px 0;
    }
    .section-wrapper {
        position: relative;
        overflow: visible;
        &::after {
            position: absolute;
            content: "\f291";
            font-family: "Font Awesome 5 Brands";
            right: 0;
            top: 50%;
            font-size: 45px;
            opacity: .8;
            transform: translateY(-50%);
        }
        .about-form {
            padding: 25px;
            border-radius: 5px;
            background: $white-color;
            @extend %shadow;
            form {
                .input-group {
                    input.form-control, textarea {
                        background: #f8f9fa;
                    }
                }
            }
        }
    }
}
//*=== about contact css start ===*//

//?====== about blog page css ends  =====?//

//?====== Blogs new page css start =====?//

//*=== Blog card css satart ===*//
.blog-card {
    padding: 60px 0;
    @include breakpoint (md) {
        padding: $common-padding;
    }
    .section-wrapper {
        overflow: visible;
        .card {
            padding: 25px;
            text-align: center;
            border: 0;
            box-shadow: 0 0 12px 0 #f1f4f6;
            background: $white-color;
            transition: all .3s ease-in-out;
            &:hover {
                transform: translateY(-5px)scale(1.05);
            }
            .card-thumb {
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                }
            }
            .card-text {
                padding: 15px 0 20px;
                h4 {
                    margin: 0;
                    padding-bottom: 6px;
                    position: relative;
                    &::after {
                        @extend %absolute;
                        bottom: 0;
                        left: 50%;
                        height: 2px;
                        width: 50px;
                        background: $theme-color;
                        transform: translateX(-50%);
                    }
                }
                p {
                    margin: 0;
                    padding-top: 12px;
                }
            }
            .card-media {
                ul.media-list {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    @extend %flex;
                    align-items: center;
                    justify-content: center;
                    li {
                        margin: 2.5px;
                        a {
                            text-decoration: none;
                            &:hover {
                                i {
                                    color: $white-color;
                                    border-color: $theme-color;
                                    background: $theme-color;
                                }
                            }
                            i {
                                height: 25px;
                                width: 25px;
                                line-height: 25px;
                                font-size: 12px;
                                text-align: center;
                                border-radius: 100%;
                                border: 1px solid #adb5bd;
                                transition: all 0.3s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}
//*=== Blog card css ends  ===*//

//?====== Blogs new page css ends  =====?//

//?====== Blog category page css start =====?//

//*=== category slider css start ===*//
.category-slider {
    padding: 60px 0;
    background: #f8f9fa;
    @include breakpoint (md) {
        padding: $common-padding;
    }
    .section-wrapper {
        overflow: visible;
        .category-wrapper {
            padding: 16px;
            border-radius: 5px;
            background: $white-color;
            .slide-header {
                h4 {
                    margin: 0;
                    padding-bottom: 6px;
                    position: relative;
                    text-transform: uppercase;
                    &::after {
                        @extend %absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        width: 60px;
                        background: #b1981b;
                    }
                }
                p {
                    margin: 0;
                    padding-top: 12px;
                }
            }
            .category-slide1, .category-slide1in2, .category-slide1in3, .category-slide2, .category-slide3 {
                overflow: hidden;
                padding-top: 50px;
                position: relative;
                .swiper-wrapper {
                    .swiper-slide {
                        .blog-item {
                            &.style-two {
                                .blog-text {
                                    .blog-cat {
                                        span {
                                            font-size: 10px;
                                        }
                                    }
                                    p {
                                        font-size: 12px;
                                    }
                                }
                                .blog-timeline {
                                    .time-line {
                                        span {
                                            font-size: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .swiper-button-next, .swiper-button-prev {
                    position: absolute;
                    top: 20px;
                    right: 0;
                    &::after {
                        font-size: 12px;
                        height: 20px;
                        width: 30px;
                        line-height: 20px;
                        text-align: center;
                        background: $theme-color;
                    }
                }
                .swiper-button-prev {
                    right: 40px;
                    left: auto;
                }
            }
        }
    }
}
//*=== category slider css ends  ===*//

//?====== Blog category page css ends  =====?//


//?====== select blog page css start  =====?//

//*=== latest blog css start ===*//
.latest-blog{
    padding: 60px 0;
    @include breakpoint (md) {
        padding: $common-padding;
    }
    .section-wrapper {
        overflow: hidden;
        .latest-blog-slider {
            position: relative;
            .swiper-scrollbar {
                height: 3px;
                top: -21px;
                left: 0
            }
        }
    }
}
//*=== latest blog css ends  ===*//

//*==== viewed blog css start ====*//
.viewed-blog {
    .section-wrapper {
        overflow: hidden;
        .viewed-blog-slider {
            position: relative;
            
            .swiper-scrollbar {
                height: 3px;
                top: -21px;
                left: 0
            }
        }
    }
}
//*==== viewed blog css ends ====*//

//*==== thornior blog css start ====*//
.thornior-blog {
    .section-wrapper {
        overflow: hidden;
        .thornior-blog-slider {
            position: relative;
            .swiper-scrollbar {
                height: 3px;
                top: -21px;
                left: 0
            }
        }
    }
}
//*==== thornior blog css ends ====*//

//*==== videos blog css start ====*//
.videos-blog {
    .section-wrapper {
        overflow: hidden;
        .videos-blog-slider {
            position: relative;
            .swiper-scrollbar {
                height: 3px;
                top: -21px;
                left: 0
            }
        }
    }
}
//*==== videos blog css ends ====*//

//*==== collabs blog css start ====*//
.collabs-blog {
    .section-wrapper {
        overflow: hidden;
        .collabs-blog-slider {
            position: relative;
            .swiper-scrollbar {
                height: 3px;
                top: -21px;
                left: 0
            }
        }
    }
}
//*==== collabs blog css ends ====*//

//*=== common blog item css ===*//
.blog-item {
    .thumb-crount {
        @extend %flex;
        align-items: center;
        justify-content: space-between;
        .crount {
            width: 50%;
            span {
                color: silver;
                font-weight: 600;
                font-size: 80px;
                letter-spacing: 16px;
            }
        }
        .item-thumb {
            width: calc(100% - 50%);
        }
    }
}
//*=== common blog item css ===*//

//?====== select blog page css ends  =====?//


//?======= Blog video page css start ======?//

//*==== explore creator css start ===*//
.explore-creator {
    position: relative;
    padding: 30px 0;
    @include breakpoint (lg) {
        padding-top: 30px;
    }
    &::before {
        @extend %absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #d8d4ca;
        @include breakpoint (lg) {
            height: 60%;
        }
    }
    .section-header {
        z-index: 1;
        position: relative;
        &::before {
            content: none;
        }
        h3 {
            letter-spacing: 2px;
            background: transparent;
            text-transform: uppercase;
        }
    }
    .section-wrapper {
        z-index: 1;
        position: relative;
        .creator-item {
            text-align: center;
            .item-thumb {
                img {
                    height: 80px;
                    width: 80px;
                    border-radius: 100%;
                }
            }
            .item-text {
                padding-top: 12px;
                h4 {
                    margin: 0;
                }
                p {
                    margin: 0;
                }
            }
            .item-link {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
//*==== explore creator css ends  ===*//

//?======= Blog video page css ends  ======?//


//?====== Blog profile page css start ======?//

//*=== profile post tabs start ===*//
// ul.nav {
//     margin: 0;
//     li.nav-item {
//         button.nav-link {
//             color: #adb5bd;
//             &.active {
//                 color: $theme-color;
//                 border-radius: 0;
//                 background: transparent;
//                 border-bottom: 2px solid $theme-color;
//             }
//         }
//     }
// }
//*=== profile post tabs start ===*//


//*=== blog profile css start ===*//
.profile-thumble {
    padding: 60px 0;
    margin-top: -120px;
    .section-wrapper {
        .profile-content {
            .content-thumb {
                height: 100px;
                width: 100px;
                position: relative;
                img {
                    height: 100px;
                    width: 100px;
                    border-radius: 100%;
                }
                .thumb-active {
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 20px;
                    width: 20px;
                    line-height: 20px;
                    text-align: center;
                    border-radius: 100%;
                    background: #2ee42e;
                    i {
                        font-size: 12px;
                        color: $white-color;
                    }
                }
            }
            .content-text {
                h4 {
                    margin: 0;
                    padding-top: 10px;
                    line-height: 1.2;
                }
                span {
                    padding-bottom: 10px;
                    display: inline-block;
                }
            }
        }
    }
}
//*=== blog profile css start ===*//

//*=== new-category css ends ===*//
.new-category {
    .categori-innner {
        overflow: hidden;
        padding: 80px 0;
        .section-header {
            padding-bottom: 0;
            text-align: left;
            &::before {
                content: none;
            }
            span {
                font-size: 14px;
                text-align: left;
                padding-left: 0;
            }
            h3 {
                margin: 0;
            }
        }
        .section-wrapper {
            overflow: visible;
            .newcategory-slider {
                .swiper-wrapper {
                    .swiper-slide {
                        &.swiper-slide-active {
                            transform: scale(1.1);
                            transition: 0.4s;
                        }
                        .category-item {
                            .category-thumb {
                                height: 226px;
                                position: relative;
                                &::after {
                                    @extend %absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 100%;
                                    border-radius: 8px;
                                    background: $overlay;
                                }
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 8px;
                                }
                                .thumb-inthumb {
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    z-index: 1;
                                    text-align: center;
                                    transform: translateX(-50%);
                                    img {
                                        width: 60px;
                                        height: 60px;
                                        border-radius: 100%;
                                        border: 2px solid $white-color;
                                    }
                                    h4 {
                                        margin: 0;
                                        color: $white-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//*=== new-category css ends ===*//

//*=== new latest blog css start ===*//
.new-latest-blog {
    padding-bottom: 80px;
    .section-header {
        &::before {
            content: none;
        }
    }
    .section-wrapper {
        .blog-item {
            .blog-text {
                .blog-cat {
                    @include breakpoint (md) {
                        padding-bottom: 120px;
                    }
                }
            }
        }
    }
}
//*=== new latest blog css start ===*//

//*=== profile video banner start ===*//
.post-pageheader {
    min-height: 250px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../../assets/images/banner/profile/01.jpg);
    &::after {
        @extend %absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        opacity: .3;
        background: rgba(222, 211, 211,  .60);
    }
    .content-position {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
        .content-text {
            text-align: center;
            h3 {
                margin: 0;
                text-transform: uppercase;
            }
            p {
                margin: 0;
                text-transform: uppercase;
                @include breakpoint (md) {
                    font-size: 20px;
                }
            }
        }
    }
}
//*=== profile video banner ends  ===*//


//?====== Blog profile page css ends  ======?//

